@import "../../_styles/breakpoint.scss";

:host {
  display: block;
}

.product {
  display: flex;
  height: var(--product-height);
  overflow: hidden;

  padding: calc(var(--product-padding) * 0.5);

  @include breakpoint-sm {
    padding: var(--product-padding);
  }
}

.info {
  width: 100%;
  padding-left: var(--space-xs);
  display: flex;
  flex-direction: column;
}

ov-sub-title,
ov-rating {
  margin-bottom: var(--space-xs);
}

ov-thumbnail {
  width: 86px;
  height: 100%;
}

.description {
  overflow: hidden;

  display: none;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.8em;
}

.details {
  display: flex;
  margin-bottom: var(--space-xs);
  width: 100%;

  div {
    flex: 1;
  }
}

.footer {
  flex: 1;
}
