@import "../../_styles/breakpoint.scss";

.header {
  min-height: 84px;
}

.content {
  padding: var(--space-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  @include breakpoint-md {
    flex-direction: row;
  }
}
.side {
  width: 340px;
}

.footer {
  min-height: 84px;
}

.main {
  width: 100%;
}

.content.without-side {
  justify-content: center;

  .main {
    @include breakpoint-lg {
      max-width: 60%;
    }
  }
}
