.placeholder {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-weight: bold;
  box-sizing: border-box;

  background-color: #e5e5f7;
  opacity: 0.6;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #444cf7 0,
    #444cf7 1px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
}

.placeholder:hover {
  opacity: 1;
}

ul.sb {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}
li.sb {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.sb-label {
  font-size: 0.75em;
}

.sb-breakpoint-example {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 2em;
  font-weight: bold;

  li {
    height: 32px;
    border: 1px solid black;
    margin-bottom: 4px;
    margin-top: 4px;
  }
}

.sb-resize-observer-example {
  display: flex;
  color: red;

  section {
    flex: 1;
    border: 1px solid red;
  }

  .isLarge {
    color: green;
    border: 1px solid green;
  }
}

.sb-intersection-observer-example {
  overflow-y: scroll;
  font-size: 2em;
  font-weight: bold;
  position: relative;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10em;
    border: 2px solid black;
    box-sizing: border-box;

    background-color: red;

    transition: background-color 300ms ease;

    &.visible {
      background-color: green;
    }
  }

  h1 {
    position: absolute;
    top: 0;
    color: white;
  }
}
