<ov-product
  [product]="product"
  [ovResizeObserver]="breakpointConfig"
  (resize)="onResize($event)"
>
  <section actions>
    <ov-message type="ok" *ngIf="product.cartInfo as cartInfo; else notInCart">
      {{ cartInfo.quantity }}x = €{{ cartInfo.total | number: "1.2-2" }}
    </ov-message>
    <ng-template #notInCart>
      <p *ngIf="isLarge">Add to cart:</p>
      <ov-quantity-picker
        [quantity]="product.quantity"
        (selectQuantity)="selectQuantity($event)"
      ></ov-quantity-picker>
    </ng-template>
  </section>
  <section footer>
    <ov-message type="ok" *ngIf="!product.isLimited; else limited">
      This product is in stock
    </ov-message>
    <ng-template #limited>
      <ov-message type="warn" #limited>
        Only {{ product.quantity.max }} left
      </ov-message>
    </ng-template>
  </section>
</ov-product>
