.xxs {
  font-size: var(--icon-xxs);
}

.xs {
  font-size: var(--icon-xs);
}

.sm {
  font-size: var(--icon-sm);
}

.md {
  font-size: var(--icon-md);
}

.lg {
  font-size: var(--icon-lg);
}

.xl {
  font-size: var(--icon-xl);
}

.xxl {
  font-size: var(--icon-xxl);
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.error {
  color: var(--color-error);
}

.ok {
  color: var(--color-ok);
}

.white {
  color: #ffffff;
}
