<ul>
  <li
    *ngFor="let product of products; trackBy: trackById"
    [ngSwitch]="product.type"
    [ovIntersectionObserver]="productIntersectionMargin"
    (intersect)="productIntersect($event)"
  >
    <ov-product-out-of-stock
      *ngSwitchCase="'product-out-of-stock'"
      [product]="asProductOutOfStock(product)"
    ></ov-product-out-of-stock>
    <ov-product-replaced
      *ngSwitchCase="'product-replaced'"
      [product]="asProductReplaced(product)"
    ></ov-product-replaced>
    <ov-product-default
      *ngSwitchDefault
      [product]="asProduct(product)"
      (addToCart)="addProductToCart($event, asProduct(product)!)"
    ></ov-product-default>
  </li>
</ul>
